@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  outline: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

@media (min-width: 1536px) {
  .container {
    max-width: 1320px;
  }
}

:root {
  --primary: #b91002;
  --paragraph: #737588;
  --FFF: #ffff;
  --heading-color: #101a29;
  --body-font-size: 16px;
  --line-height30: 1.7;
}

p {
  color: var(--paragraph);
  font-weight: 500;
  margin-bottom: 10px;
}

.default-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

.subtitle {
  background-color: var(--FFF);
  border-radius: 50px;
  box-shadow: 0 4.4px 30px rgba(19, 16, 34, 0.1);
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 15px;
  padding: 8px 20px;
  text-transform: uppercase;
}

.title {
  font-size: 40px;
  line-height: 50px;
  color: var(--heading-color);
  font-weight: 600;
  margin-bottom: 15px;

  span {
    color: var(--primary);
  }
  &.text-white {
    color: #fff;
  }
}

.main_btn {
  position: relative;
  text-align: none;
  outline: none;
  padding: 15px 30px;
  background-color: var(--primary);
  color: var(--FFF);
  font-size: 18px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border-radius: 100px;
  border: 2px solid var(--primary);
  cursor: pointer;
  transition: all 250s ease-in-out;
  overflow: hidden;
  i {
    font-size: 20px;
  }
  &.add_outline {
    background-color: transparent;
    color: var(--primary);
    &:hover {
      color: var(--FFF);
      &::after {
        width: 135%;
      }
    }
  }

  &:after {
    content: "";
    background: var(--primary);
    position: absolute;
    transition: all 250ms ease;
    z-index: -1;
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(30deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
  }
}

.main_menu {
  li {
    a {
      color: var(--heading-color);
      font-weight: 600;
      &.active {
        color: var(--primary);
      }
    }
  }
}

.navbar-area {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 30px;
  position: relative;
  background-color: #fff;
  z-index: 99999;
}

.nav-right-part {
  .navbar-phone {
    height: 80px;
    color: #fff;
    border-radius: 0;
    position: relative;
    display: inline-block;
    background: var(--primary);
    padding: 11px 25px 11px 85px;
    .icon {
      position: absolute;
      left: 20px;
      background: rgba(255, 255, 255, 0.1);
      display: inline-block;
      height: 50px;
      width: 50px;
      line-height: 47px;
      text-align: center;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
    }
    span {
      font-weight: 500;
      color: #fff;
      display: inline-block;
      margin-bottom: 2px;
      font-size: 15px;
      i {
        font-size: 20px;
      }
    }
    h5 {
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      margin-bottom: 0;
    }
  }
  a {
    margin-left: 15px;
    color: var(--heading-color);
  }
}

.hero_section {
  padding: 150px 0 80px 0;
  margin-top: -120px;
  position: relative;
  overflow: hidden;
  z-index: 1;

  .animate-img-1 {
    bottom: 70px;
    left: 30px;
    max-width: 40px;
  }
  .animate-img-2 {
    bottom: 50px;
    left: 50px;
    max-width: 60px;
  }
  .title {
    font-size: 55px;
    line-height: 1.3em;
    font-weight: 700;
  }
  .content {
    margin-bottom: 30px;
  }
  .banner_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.banner-animate-img {
  position: absolute;
}

.banner_thumb {
  position: relative;
  padding-left: 9%;

  .banner-animate-img-1 {
    background-color: var(--FFF);
    padding: 20px;
    border-radius: 10px;
    left: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    row-gap: 5px;
  }
  .banner-animate-img-2 {
    background-color: var(--FFF);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-radius: 10px;
    bottom: 0px;
    right: -9px;
    z-index: 1;

    span {
      font-size: 40px;
      color: var(--primary);
      font-weight: 700;
    }
  }
  .main-img {
    border-radius: 300px 300px 0 0;
  }
  &::after {
    position: absolute;
    content: "";
    top: 25px;
    right: 25px;
    width: 80%;
    height: 100%;
    border: 5px solid var(--primary);
    border-radius: 300px 300px 0 0;
  }
}
.top_image_bounce {
  animation: top-image-bounce 3s ease-in-out infinite;
}
.left_image_bounce {
  animation: left-image-bounce 3s ease-in-out infinite;
}

@keyframes top-image-bounce {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes left-image-bounce {
  0% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}

.about_icon_wrapper {
  margin-top: 30px;
  .about_icon {
    .icon {
      display: inline-grid;
      place-content: center;
      padding: 10px;
      border-radius: 5px 40px 40px 40px;
      width: 80px;
      height: 80px;
      background-color: #ffdfdc;
      margin-bottom: 15px;
      transition: all 250ms ease;
      i {
        font-size: 30px;
        color: var(--primary);
        transition: all 250ms ease;
      }
    }
    h3 {
      font-size: 22px;
      color: var(--heading-color);
      font-weight: 600;
      margin-bottom: 10px;
    }
    &:hover {
      .icon {
        background-color: var(--primary);
        i {
          color: var(--FFF);
        }
      }
    }
  }
}

.about_image {
  margin-right: 50px;
  width: 100%;
  height: 100%;
  position: relative;
  img {
    &:nth-child(2) {
      left: 80px;
      top: -20px;
      position: absolute;
    }
    &:nth-child(3) {
      right: 50px;
      top: 180px;
      z-index: 2;
      position: absolute;
    }
    &:nth-child(4) {
      bottom: -7px;
      left: 100px;
      z-index: 9;
      position: absolute;
    }
  }
}

.logo_carousel_wapper {
  /* background-color: #fafafa; */
  overflow: hidden;
  white-space: nowrap;

  .logo_carousel {
    margin-top: 20px;
  }
}

/* .logo_carousel_wapper:hover .logo_carousel {
  animation-play-state: paused;
} */

.logo_carousel_wapper .logo_carousel {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  animation: slide 20s infinite linear;
}

@keyframes slide {
  0% {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}

.service-card {
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0px 12px 42px rgb(185, 16, 2, 0.1);
  background-color: var(--FFF);

  .icon_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .icon {
      max-width: 70px;
    }
    h3 {
      margin-left: 35px;
      color: var(--heading-color);
      line-height: 1.5;
      font-weight: 600;
      /* font-size: 25px; */
      color: var(--heading-color);
    }
  }

  .service_btn {
    margin-top: 15px;
    transition: all 250ms ease;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    &:hover {
      padding-left: 7px;
      color: var(--primary);
    }

    i {
      color: var(--primary);
    }
  }

  &.style_2 {
    padding: 30px;
    .icon_wrapper {
      flex-direction: column;
      row-gap: 10px;
      h3 {
        max-width: 100%;
      }
    }
    p {
      text-align: center;
    }
    .service_btn {
      display: flex;
      justify-content: center;
    }
  }
}

.contact_icon {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  .icon {
    width: 80px;
    height: 80px;
    background-color: #fff1f0;
    border-radius: 50%;
    display: grid;
    place-content: center;
    i {
      font-size: 30px;
      color: var(--primary);
    }
  }
  .content {
    h2 {
      font-weight: 600;
      color: var(--heading-color);
      font-size: 20px;
      margin-bottom: 7px;
    }
  }
}

.contact_form {
  padding: 40px;
  padding-top: 20px;

  h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: var(--heading-color);
    margin-bottom: 25px;
  }
  .input_wrapper {
    width: 100%;
    margin-bottom: 15px;
    input,
    textarea {
      width: 100%;
      padding: 12.5px 25px;
      background-color: var(--FFF);
      outline: 0;
      border: 1px solid var(--paragraph);

      &:focus {
        outline: 0 !important;
        border-color: var(--primary) !important;
        box-shadow: none !important;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 768px) {
  .navbar_container {
    padding: 0;
    width: 100%;

    .navbar-area {
      margin: 0;
      padding: 10px 20px;
      .main_menu {
        li {
          a {
            &.active {
              background-color: var(--primary);
              color: var(--FFF);
            }
          }
        }
      }
    }
  }

  .hero_section {
    padding-top: 200px;
    text-align: center;
    .title {
      font-size: 40px;
    }
    .banner-animate-img-1 {
      right: 0;
      left: auto;
      z-index: 10;
    }
    .banner-animate-img-2 {
      bottom: -50px;
      right: auto;
      left: 0;
    }
  }
  .title,
  .subtitle {
    text-align: center;
  }

  .title {
    font-size: 26px;
  }

  .subtitle {
    margin-bottom: 15px;
    display: table;
    margin: auto;
  }
  .main_btn {
    padding: 10px 20px;
    font-size: 14px;
  }
  .contact_form {
    h1 {
      font-size: 30px;
    }
  }

  .default-padding {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .service-card {
    text-align: center;
    .icon_wrapper {
      flex-direction: column;
    }
    .icon {
      margin-bottom: 15px;
    }
    h3 {
      margin-left: 0 !important;
    }
  }
}

.custom_list {
  margin-top: 20px;
  li {
    margin-bottom: 10px;
    padding-bottom: 12px;
    padding-left: 30px;
    border-bottom: 2px solid #e2e8f0;
    position: relative;
    max-width: 350px;

    &::after {
      position: absolute;
      content: "\F270";
      top: 0;
      left: 0;
      color: var(--primary);
      font-size: 20px;
      font-family: "bootstrap-icons";
    }
  }
  &.style_2 {
    display: flex;
    align-items: center;
    gap: 20px;
    row-gap: 15px;
    flex-wrap: wrap;
    li {
      border-radius: 5px;
      border: 0;
      background-color: #ffdfdc;
      padding: 10px 24px;
      color: var(--heading-color);
      font-weight: 500;
      padding-left: 30px;
      margin-bottom: 10px;
      &::after {
        top: 7.5px;
        left: 5px;
      }
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: #101a29;
  border-radius: 50%;

  &::after {
    font-size: 30px;
    color: var(--FFF);
    font-family: "bootstrap-icons";
  }
}

.swiper-button-next {
  &::after {
    content: "\F135";
  }
}
.swiper-button-prev {
  &::after {
    content: "\F12C";
  }
}

.review_wrapper {
  min-height: 270px;
}

.card_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  text-align: center;
  .icon {
    width: 80px;
    height: 80px;
  }
  .content {
    h2 {
      font-size: 45px;
      font-weight: 600;
      color: #101a29;
    }
    p {
      font-size: 20px;
      color: #101a29;
    }
  }
}

.gradient_box {
  overflow: hidden;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transition: all 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-repeat: repeat-x;
    border-radius: 15px;
    background-image: -webkit-linear-gradient(
      51deg,
      var(--e-global-color-astglobalcolor0) 0%,
      var(--e-global-color-dd431d3) 100%
    );
    background-image: -o-linear-gradient(
      51deg,
      var(--e-global-color-astglobalcolor0) 0%,
      var(--e-global-color-dd431d3) 100%
    );
    background-image: linear-gradient(
      39deg,
      var(--e-global-color-astglobalcolor0) 0%,
      var(--e-global-color-dd431d3) 100%
    );
  }
  &:hover {
    .elementor-icon {
      background-color: var(--e-global-color-astglobalcolor5);
      fill: var(--e-global-color-astglobalcolor0);
      color: var(--e-global-color-astglobalcolor0);
    }
    .elementor-icon-box-title,
    p {
      color: var(--e-global-color-astglobalcolor5) !important;
    }
    &::after {
      opacity: 1;
    }
  }
}

.portfolio_card {
  width: 100%;
  height: auto;
  background-color: var(--FFF);

  .portfolio_image {
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity 300ms linear;
      opacity: 1;
      visibility: visible;
      z-index: 10;

      &:first-child {
        transition: opacity 300ms linear;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .portfolio_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252525;
    color: var(--FFF);
  }

  &:hover {
    .portfolio_image {
      img {
        opacity: 0;
        visibility: hidden;
        animation: fadeOut 500ms 7s cubic-bezier(0.215, 0.61, 0.355, 1);

        &:first-child {
          opacity: 1;
          visibility: visible;
          animation: fadeIn 500ms 7s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
